<div class='country-card__title'>
    <img src="{{flag}}" width="40" height="100%" alt="{{flag}}">
    <p class='title'>{{name}}</p>
</div>
<p class='country-card__data'>Capital: <span class='country-card__info'>{{capital}}</span></p>
<p class='country-card__data'>Population: <span class='country-card__info'>{{population}}</span></p>
<p class='country-card__data'>Languages: <span class='country-card__info'>{{languages}}</span></p>